<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
  </head>
  <body>
    <div class="header">
      <h3 class="s-heading white-text"><%= user.username %></h3>
      <h3 class="">
        <% if (activeChallenge) { %>
          Current Challenge: <%= activeChallenge.name %>
          <% } %>
      </h3>
      <h1 class="b-heading white-text">Challenges History</h1>
    </div>
    <br class="line" />
    <main class="container">
      <% for( let challenge of challenges ) { %>
      <a href="/user/<%= user.username %>/challenges/<%= challenge._id %>" class="btn text-light">
        <p><%= challenge.challengeType %> Days of <%= challenge.name %> 🤖</p>
        <p><%= challenge.description %></p>
        <p><%= challenge.status %></p>
      </a>
      <br />
      <% } %>
    </main>
    <% if (owner === true) { %>
      <a href="/user/<%= user.username %>/challenges/new">New Challenge</a>
    <% } %>
  </body>
</html>
